.card{
    margin: 20px auto;
}
h1{
    margin:20px;
}
button{
    width:30%;
}
.btn-class{
    display: flex;
    justify-content: center;
    // margin:0px 12px 0px opx;
 }
//  .del{
//     margin:0px 2px 0px opx;
//  }