<div class="container">
    <h1>List of employees data</h1>
    <div class="row">
        <div class="col-md-4" *ngFor="let res of resData">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row cardPad">
                        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-6 ">
                            <b>Id</b>
                        </div>:
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            {{res.id}}
                        </div>
                    </div>
                    <div class="row cardPad">
                        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-6 ">
                            <b>Name</b>
                        </div>:
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            {{res.name}}
                        </div>
                    </div>
                    <div class="row cardPad">
                        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-6 ">
                            <b>Salary</b>
                        </div>:
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            {{res.salary}}
                        </div>
                    </div>
                    <div class="row cardPad">
                        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-6 ">
                            <b>City</b>
                        </div>:
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            {{res.city}}
                        </div>
                    </div>
                    <div class="row cardPad">
                        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-6 ">
                            <b>Phone no</b>
                        </div>:
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                            {{res.phone}}
                        </div>
                    </div>
                </div>
                <div class="btn-class">
                    <button class="btn btn-warning" (click)="editData(res.id)">Edit</button>
                    <button class="btn btn-danger del">Delete</button>
                </div>
                
            </div>
          
        </div>
    </div>